<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Baby Track</h3>
            </div>
            <div class="box-body">

                <a class="btn btn-app"
                   ng-repeat="category in categories"
                   ng-click="saveRecord(category.id)">
                    <i class="fa fa-edit {{category.name}} fa-{{category.fa}}"></i>
                    {{category.name}}
                </a>

            </div><!-- /.box-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border" ng-click="clickOnButton()">
                <h3 class="box-title">Opciones</h3>
                <div class="box-tools pull-right">
                    <button class="toggleButton btn btn-danger" data-widget="collapse"><i class="fa fa-plus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body" style="display: none;">
                <button ng-click="toggleRemove()" type="button" class="btn btn-danger"><i class="fa fa-remove"></i> Editar</button>
                &nbsp;&nbsp;&nbsp;
                <button ng-click="updateList()" type="button" class="btn btn-primary"> Todo</button>
                &nbsp;&nbsp;&nbsp;
                <button ng-click="pronosticarLeche()" type="button" class="btn btn-warning"> Leche</button>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">baby Track</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">

                <table class="table table-striped">
                    <tbody><tr>
                        <th >#</th>
                        <th>Accion</th>
                        <th>Hora</th>
                        <th ng-if="flagRemove"></th>

                    </tr>
                    <tr ng-repeat="row in records">
                        <td>
                            {{ row.fromNow}}
                        </td>
                        <td>
                            {{row.category }}
                        </td>
                        <td>
                            {{ row.time }}
                        </td>
                        <td ng-if="flagRemove">
                            <button ng-click="removeFromList(row.id)" type="button" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>

                    </tbody></table>
            </div><!-- /.box-body -->
            <div class="overlay" ng-show="flagLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>